body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #fff8f0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffe9d1;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 5px #adf3ff;
}

.logo{
    float: left;
    display: block;
    color: rgb(27, 27, 27);
    text-align: center;
    padding: 12px 16px;
    font-size:large;
    text-decoration: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(27, 27, 27);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #f8dfc4;
}

.active {
    background-color: #3DB2FF;
}


.deviz {
    color: #0099ff ;
    font-size: 75px;
    margin: 250px 50px;
    margin-left: 100px;
}

.mom_kid{
    height: auto;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text_main{
    color: #0099ff ;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.app{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}